// |==========| Global CSS |==========|
::selection {
    background-color: var(--bs-primary-50);
    color: var(--bs-body-bg);
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.listIcon {
    width: 36px;
}

.servicesIcon {
    width: 64px;
}

.socialIcon {
    width: 48px;
    padding: 0 0 0 8px;
}

.list-group-item {
    background-color: transparent;
}

.card {
    background-color: transparent;
    overflow: hidden;
}

.card-img-top {
    transition: transform 0.3s ease;
}
  
.card:hover .card-img-top {
    transform: scale(1.07);
}

.required-input::after {
    content: " *";
    color: rgb(255, 132, 118);
}
// |==========| Global CSS |==========|

// |==========| Navbar CSS |==========|
.navbar {
    transition: all 0.5s ease-in-out;
    padding: 25px 0 25px 0;
}

.navbar-brand img {
    width: 200px;
}

.navbar-nav li {
    padding: 0 0 0 36px;
    color: white;
}

.navbar-nav li a {
    color: white !important;
    transition: color 0.3s ease;
}

.navbar-nav li a:hover {
    color: var(--bs-secondary) !important;
}
// |==========| Navbar CSS |==========|

// |==========| Header/Hero Section CSS |==========|
.header {
    overflow: hidden;
    background-size: cover;
    height: 850px;
}

.header .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.header .overlay {
    position: absolute;
    width: 100%;
    height: 850px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(32, 32, 32));
    z-index: -1;
}

.header .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header .header-img {
    z-index: -1;
    width: 900px;
    right: 0px;
    bottom: -70px;
    opacity: 50%;
}

.header .profile-pic {
    width: 200px;
    position: relative;
    margin-top: 20px;
}

.header .css-icon {
    width: 60px;
    left: 86px;
    top: 150px;
    transform: rotate(15deg);
}

.header .html-icon {
    width: 100px;
    left: 600px;
    bottom: 150px;
    transform: rotate(-10deg);
}

.header .js-icon {
    width: 100px;
    left: 86px;
    bottom: 15px;
    transform: rotate(-20deg);
}

.header .bootstrap-icon {
    width: 150px;
    left: 800px;
    bottom: 40px;
    transform: rotate(15deg);
}

.header .figma-icon {
    width: 160px;
    left: 1000px;
    top: 130px;
    transform: rotate(-15deg);
}
// |==========| Header/Hero Section CSS |==========|

// |==========| About Section CSS |==========|
.about .purpleGradient {
    z-index: -1;
    width: 338px;
    left: -51px;
    top: 100px;
}

.about .pinkGradient {
    width: 400px;
    right: 20px;
    bottom: -4px;
}
// |==========| About Section CSS |==========|

// |==========| Services Section CSS |==========|
.services {
    background-color: var(--bs-primary-900);
}

.services .card {
    background-color: #1d0b3a;
}

.services .btnBehance:hover {
    background: #0057FF;
    color: var(--bs-light);
}

.services .btnIcon {
    width: 24px;
}
// |==========| Services Section CSS |==========|

// |==========| Recent Work Section CSS |==========|
.recent .img-fluid {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.recent .purpleGradient {
    z-index: -1;
    width: 500px;
    left: 500px;
    top: 100px;
}

.recent .pinkGradient {
    width: 350px;
    left: -15px;
    top: 400px;
}
// |==========| Recent Work Section CSS |==========|

// |==========| Contact Section CSS |==========|
.contact .purpleGradient {
    z-index: -1;
    width: 500px;
    left: 200px;
    top: 50px;
}

.contact .pinkGradient {
    z-index: -1;
    width: 300px;
    right: 400px;
    top: 100px;
}

.contact .cyanGradient {
    width: 200px;
    right: -100px;
    bottom: 100px;
}
// |==========| Contact Section CSS |==========|

// |==========| Footer CSS |==========|
.footer .logo {
    width: 300px;
}

.footer .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.footer .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 219px;
    background: linear-gradient(to bottom, rgb(32, 32, 32), rgba(0, 0, 0, 0));
    z-index: -1;
}
// |==========| Footer CSS |==========|