// |==========| Global CSS |==========|
::selection {
    background-color: var(--bs-primary-50);
    color: var(--bs-body-bg);
}

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background-color: var(--bs-body-bg) }

::-webkit-scrollbar-thumb { background-color: var(--bs-primary-300) }

::-webkit-scrollbar-thumb:hover { background-color: var(--bs-primary); }

.gradient-text {
    font-weight: bold;
    background: linear-gradient(40deg, var(--bs-primary-200), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutIcon {
    width: 64px;
}

.serviceIcon {
    width: 32px;
}

.socialIcon {
    width: 58px;
    padding-right: 10px;
}

.headerIcon, .footerIcon {
    width: 42px;
}

.icon-circle {
    display: inline-flex; /* Centra el ícono dentro del círculo */
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    width: 50px; /* Ajusta el tamaño del círculo */
    height: 50px;
    border-radius: 10%; /* Hace el contenedor circular */
    background: linear-gradient(45deg, #6a11cb, #ffffff); /* Degradado */
    transition: transform 0.3s ease; /* Suavizar la animación */
}

.list-group-item {
    background-color: transparent;
}

.with-bullets {
  list-style-type: disc !important;
  padding-left: 1.5rem;
}

.with-bullets .list-group-item {
  display: list-item;
}

.required-input::after {
    content: " *";
    color: rgb(255, 132, 118);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btn-primary,
.btn-outline-light.active {
    background: linear-gradient(45deg, #6a11cb, #f9b5ff);
    border: none;
    color: #fff;
}

.btn-primary:hover {
    color: #fff;
    box-shadow: 0 0 15px 5px rgba(222, 194, 255, 0.2);
}

// |---------------| To Top Button |---------------|
.to-top-btn {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: var(--bs-primary-200);
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    img {
        margin-bottom: 0.25rem;
        width: 26px;
    }
}

.to-top-btn {
    &:hover {
        background-color: var(--bs-secondary);
    }
}
// |---------------| To Top Button |---------------|

// |---------------| Popup |---------------|
.status-dot {
    width: 10px;
    height: 10px;
    background-color: #28a745; /* Verde */
    border-radius: 50%;
    display: inline-block;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}

.popup {
    position: fixed;
    z-index: 10;
    width: 225px;
    border-radius: 15px;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
  
.popup img {
    border: 3px solid #fff;
}

.popup .btnClose {
    opacity: 0.5;
    background-color: #d8d8d8;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    outline: none;
    margin-top: -70px;
    margin-left: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.popup .btnClose:hover {
    opacity: 1;
    background-color: #a8a8a8;
}

.popup .btnClose:focus {
    outline: 2px solid #6c757d;
}
// |---------------| Popup |---------------|

.show {
    opacity: 1;
}
// |==========| Global CSS |==========|

// |==========| Navbar CSS |==========|
.navbar {
    transition: all 0.5s ease-in-out;
    padding: 25px 0 25px 0;
    opacity: 97%;
}

.navbar-brand img {
    width: 200px;
}

.navbar-nav li {
    padding: 0 0 0 36px;
    color: white;
}

.navbar-nav li a {
    color: white !important;
    transition: color 0.3s ease;
}

.navbar-nav li a:hover {
    color: var(--bs-primary-100) !important;
}
// |==========| Navbar CSS |==========|

// |==========| Header/Hero Section CSS |==========|
.header {
    height: 850px;
    position: relative;
    background: linear-gradient(220deg, #D437C0, var(--bs-primary-500));
    background-size: 400% 400%;

    -webkit-animation: gradientBackground 9s ease infinite;
    -moz-animation: gradientBackground 9s ease infinite;
    animation: gradientBackground 9s ease infinite;
}

@-webkit-keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.header .overlay {
    position: absolute;
    width: 100%;
    height: 850px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(32, 32, 32));
    z-index: 1;
}

.header .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header .header-img {
    width: 900px;
    right: 0px;
    bottom: -70px;
    opacity: 50%;
}

.header .profile-pic {
    width: 200px;
    position: relative;
    margin-top: 20px;
}
// |==========| Header/Hero Section CSS |==========|

// |==========| About Section CSS |==========|
.about .feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.about .aboutImg {
    width: 100%;
}

.about .lines-1 {
    z-index: -1;
    top: 0px;
    width: 2000px;
    transform: scaleX(-1);
}
// |==========| About Section CSS |==========|

// |==========| Technologies Section CSS |==========|
.technologies .generalCard {
    background-color: transparent;
}

.technologies .contentCard {
    background-color: transparent;
}

.technologies .card {
    background-color: #2b2b2b;
    border: 1px solid #414141 !important;
}

.technologies .card:hover {
    background-color: #242424;
    border: 1px solid #727272 !important;

}

.technologies .gradient-1 {
    z-index: -1;
    bottom: -70px;
    left: -100px;
    width: 500px;
    opacity: 0.7;
}

.technologies .gradient-2 {
    z-index: -1;
    top: -500px;
    left: 300px;
    width: 600px;
    opacity: 0.3;
}

.technologies .lines-1 {
    z-index: -1;
    top: 0px;
    width: 2000px;
    transform: scaleX(-1);
}
// |==========| Technologies Section CSS |==========|

// |==========| Services Section CSS |==========|
.services .tabs {
    background-color: transparent;
}

// Custom styles for the tabs
.custom-tabs {
    .nav-link {
      position: relative;
      color: #ffffff; // Text color
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: none;
  
      // Default underline (thin and hidden initially)
      &::after {
        content: '';
        position: absolute;
        bottom: 0; // Align underline to the bottom of the link
        left: 0;
        width: 0%; // Initially hidden
        height: 3px; // Thickness of the underline
        background-color: #ffffff; // Same color as text
        transition: width 0.3s ease-in-out;
      }
  
      // Hover effect: Show partial underline
      &:hover {
        color: var(--bs-primary-100); // Slightly lighter color on hover
      }
  
      // Active link style
      &.active {
        color: #ffffff; // Ensure consistent active color
        background-color: transparent;
  
        &::after {
          width: 100%; // Full underline for active tab
        }
      }
    }
  }

.services .originalPrice {
    color: #c9c9c9;
}

.services .offer {
    width: 70px;
    top: -15px;
}

.services .btnIcon {
    width: 24px;
}

.services .css-icon {
    width: 60px;
    left: 102px;
    top: 395px;
    opacity: 50%;
    transform: rotate(15deg);
}

.services .html-icon {
    width: 100px;
    right: 100px;
    top: 634px;
    opacity: 50%;
    transform: rotate(10deg);
}

.services .js-icon {
    width: 100px;
    right: 13.63px;
    bottom: 309.63px;
    opacity: 50%;
    transform: rotate(-20deg);
}

.services .bootstrap-icon {
    width: 150px;
    left: 38px;
    top: 641px;
    opacity: 50%;
    transform: rotate(-15deg);
}

.services .figma-icon {
    width: 160px;
    right: 30.776px;
    top: 131px;
    opacity: 50%;
    transform: rotate(-15deg);
}

.services .node-icon {
    width: 160px;
    left: 43px;
    bottom: 61.008px;
    opacity: 50%;
    transform: rotate(15deg);
}

.services .lines-1 {
    z-index: -1;
    top: 0px;
    width: 2000px;
}

.services .nav-tabs {
    --bs-nav-tabs-border-color: none;
}

.services .nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
    list-style: none;
}
// |==========| Services Section CSS |==========|

// |==========| Recent Work Section CSS |==========|
.recent .card {
    background-color: transparent;
    border: transparent;
    overflow: hidden;
}

.recent .card-img-top {
    transition: transform 0.3s ease;
}
  
.recent .card:hover .card-img-top {
    transform: scale(1.07);
}

.recent .gradient-2 {
    z-index: -1;
    bottom: 60px;
    left: -100px;
    width: 600px;
    height: 500px;
    opacity: 0.3;
}

.recent .lines-1 {
    z-index: -1;
    top: 0px;
    width: 2000px;
    transform: scaleX(-1);
}
// |==========| Recent Work Section CSS |==========|

// |==========| Contact Section CSS |==========|
.contact .gradient-1 {
    z-index: -1;
    top: -10px;
    right: 100px;
    width: 500px;
    opacity: 0.7;
}

.contact .gradient-2 {
    z-index: -1;
    top: -100px;
    right: 300px;
    width: 800px;
    opacity: 0.3;
}

.contact .lines-1 {
    z-index: -1;
    top: 0px;
    width: 2000px;
}
// |==========| Contact Section CSS |==========|

// |==========| Footer CSS |==========|
.footer {
    z-index: 4;
    position: relative;
    background: linear-gradient(220deg, #D437C0, var(--bs-primary-500));
    background-size: 400% 400%;

    -webkit-animation: gradientBackground 9s ease infinite;
    -moz-animation: gradientBackground 9s ease infinite;
    animation: gradientBackground 9s ease infinite;
}

@-webkit-keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.footer .logo {
    width: 300px;
}


.footer .overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, rgb(32, 32, 32), rgba(0, 0, 0, 0));
}
// |==========| Footer CSS |==========|